* {

    margin: 0;

    padding: 0;

}

/* FILTROS - INICIO */

.filtros-contenedor {
    

    position: fixed;
    top: 70px;
    

}

.filtros-titulo {

    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 20px;

}

.filtros-separador {

    cursor: pointer;
    margin-bottom: 10px;

}


.filtros-check {

    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    color: blue;

}

.filtros-label {

    cursor: pointer;
    font-size: 20px;
    color: black;

}


/* FILTROS - FIN */


.main {

    display: grid;
    grid-template-columns:1fr;
    padding-left: 250px;

}



/* INDEX - FIN */

/* NAVBAR - INICIO */

.navbar {

    height: 70px;

}

.navbar-collapse {

    display: flex;
    justify-content: center;
    margin-right: 90px;

}

.prueba {

    width: 50%;
    height: 100px;
    background-color: red;

}

.nav-link {

    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 1%;
}

.nav-link:hover {
   
    box-shadow: 0px 0px 5px red;

}


/* NAVBAR - FIN */


/* CARD - INICIO */

.card {

    text-align: center;
    margin: 30px 10px;
    box-shadow: 0px 10px 10px pink;

}

.card-hover {

    box-shadow: 0px 10px 10px red;

}

.card-img-top {

    height: 400px;
    object-fit: contain;

}

.card-body {

    text-align: start;
    margin-top: 10px;
    margin-left: 4px;

}

.contenedor-cards{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

/* CARD - FIN */


/* MEDIAQUERIES - INICIO */

@media screen and (min-width: 0px) and (max-width: 800px) {
    
    .contenedor-cards{

        display: grid;
        grid-template-columns: 1fr;
    
    }
    

}

@media screen and (min-width: 801px) and (max-width: 1210px){
    
    .contenedor-cards{

        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    

}

@media screen and (min-width: 1211px){
    
    .contenedor-cards{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    }
    

}

@media screen and (max-width: 901px){
    
    .filtros-contenedor{

        display: none;
    
    }
    .main {

        padding-left: 10px;

    }
    

}


/* MEDIAQUERIES - FIN */

